.body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.body .nav {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.body .nav>li {
    flex: 1;
    line-height: 40px;
    text-align: center;
}

.body .container {
    flex: 1;
    overflow-x: hidden;
}

.body .footer {
    /* height: 40px; */
}